site_name: Steam Python Docs
site_url: https://python.steam.style

repo_name: Steam-Style/steam-python
repo_url: https://github.com/Steam-Style/steam-python

theme:
  name: material
  favicon: assets/logo.svg
  logo: assets/logo.svg
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: slate
      primary: black
      accent: indigo
  features:
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [steam]
          options:
            show_root_heading: true

nav:
  - Home: index.md
  - References: references.md

